<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title><?php echo $pageTitle; ?></title>
<?php foreach ($css as $cssfile) { ?>
	<link rel="stylesheet" href="<?php echo ROOT_PATH ?>css/<?php echo $cssfile; ?>" type="text/css" charset="utf-8">
<?php } ?>
<?php foreach ($js as $jsfile) { ?>
	<script type="text/javascript" src="<?php echo ROOT_PATH ?>js/<?php echo $jsfile; ?>"></script>
<?php } ?>
</head>
<body>
<?php $this->content(); ?>

</body>
</html>